body {
	margin: 0;
	font-family: 'Nunito', sans-serif !important;
	position: relative;
}

section {
    margin: 50px 0;
}
#mg-testimonials {
    margin-top: -30px;
}
.textstyle {
	font-family: 'Nunito', sans-serif;
	color: #696969;
	font-size: 20px;
}
.textstyle b, .textstyle strong {
	font-weight: 800;
	color: #555;
}
.wrap {
	min-height:100px;
	position: relative;
}
.container {
	max-width: 1110px;
	margin: auto;
}
* {
	box-sizing: border-box;
}
.cleafix {
	clear: both;
}
p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
a {
	text-decoration: none;
}

.mt-4 {
    margin-top: 2.5em !important;
}
.mt-5 {
    margin-top: 4em;
}
.ptb-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.mb-3 {
	margin-bottom: 20px;
}

/*==== top-bar ====*/

#cbBadge {
    background-color: #ffcb00;
    padding: 4px;
}
#top-bar {
	background-color: rgb(255,204,0);
	min-height: 30px;
}
.click-img {
	max-width: 288px;
	width: 100%;
	display: block;
	margin: auto;
}

/*==== header ====*/
#head {
	background: url('../img/MGvsl-bgHdr.jpg');
	min-height:80px;
    padding: 24px 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.mst-logo {
    max-width: 240px;
    margin: -10px 0 -2px 20px;
}
.headerpic {
    padding: 10px;
    text-align: center;
}
.header-pic {
    border-radius: 20px;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    border: 12px solid #a1c4eb4d;
    overflow: hidden;
    box-shadow:0 3px 16px #193252;
}
.header-video {
	padding: 2.5em 0;
	width: 100%;
	margin: auto;
}
.video {
	width: 100%;
	min-height: 600px;
	border:none;
	background-color:#eee;
	border-radius: 12px;
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.7);
}

/*==== MG vsl ====*/
.container.long-txt {
    max-width: 1000px;
    padding-right: 25px;
    padding-left: 25px;
    margin: -30px auto;
}
.txtBlok h1 {
    font-family: Nunito,inherit sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 3.8rem;
    line-height: 1;
    color: #22254d;
    margin: -50px -3% 0px;
    padding: 0 0 10px;
    word-spacing: -1px;
    letter-spacing: -1px;
}
.hdlne-sub {
    text-align: center;
    font-size: 1.2rem !important;
    padding-bottom: 20px;
}
h2 {
    font-size: 3.4rem !important;
    line-height: 1 !important;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 0px 16%;
    font-weight: 800 !important;
}
.txtBlok p {
    font-family: Nunito, sans serif;
    font-size: 1.35rem;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 400;
    color: #444;
}
.txtBlok h3 {
    font-size: 2rem;
    line-height: 1;
    font-family: Nunito, sans serif;
    padding: 14px 0 7px;
    color: #ff6000;
}
.txtBlok h4 {
    font-family: Nunito, sans serif;
    font-size: 1.5rem;
    line-height: 1.1;
    margin: 0 0 8.5px;
    color: #555;
}
.h4sub {
    color: #ff6000 !important;
    font-style: italic;
    letter-spacing: 0.5px;
}
.missFeature li {
    font-size: 1.5rem;
    line-height: 1;
    margin-left: 26px;
    list-style: disclosure-closed;
    padding-bottom: 12px;
}
.missFeature li::marker {
    color: #659de5;
    font-size: 2rem;
}
.fltRht {
    float: right;
    border-radius: 50%;
    margin: -20px -3% 0 12px;
}

/* ==== Privacy etc ==== */
.bdy-prv {
    background-image: url('../img/star-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.bdy-prv .container {
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    padding: 0 3%;
}
.bdy-prv p {
    font-size: 1.2rem;
    line-height: 1.3;
}
.bdy-prv h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #637ba2;
    margin: 0 0 0;
    padding: 0;
}
.bdy-prv h5 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 0;
    padding: 0;
    color: #0b5988;
}
.indentFive {
    margin-left: 3%;
}
.footer-content p {
    font-size: 1rem;
    line-height: 1.1;
}

/* ====  404  ==== */
.pge404 {
    background-image: url("../img/bg-four04.jpg");
    background-size: cover;
}
#fourMssge {
    margin: 13% 0 9%;
}
.scndSub {
    text-shadow: 2px 2px 4px #121c4e;
    padding: 0 0 6px !important;
}
#fourMssge p {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.2;
    color: #123563;
}
.fourBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn-first {
    background-color: #007bff;
    color: #fff;
    padding: 10px 36px 6px;
    margin: 0 15px;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000000b5;
}
.btn-first:hover {
    text-decoration: none;
    background-color: #31c5ff;
}

.btn-scnd {
    background-color: hsl(211, 24%, 75%);
    color: #fff;
    padding: 7px 36px;
    margin: 0 15px;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 1.5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000000b5;
}
.btn-scnd:hover {
    text-decoration: none;
    background-color: #31c5ff;
}

.txtWhte {
    color: #f0b8ff;
    letter-spacing: 0.5px;
    margin-top: -10px;
}



/* -- Product Panel -- */ 
.product-row {
    display: flex;
    margin: 20px auto;
    padding: 0 3%;
    max-width: 980px;
}
.col-md-6.plr-1 {
    width: 60%;
    padding: 0;
    flex: 0 0 60%;
    max-width: 60%;
}
.col-md-6.plr-2 {
    width: 40%;
    padding: 0;
    flex: 0 0 40%;
    max-width: 40%;
}

.plr-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.pnl-product {
    text-align: center;
    margin: 0 -3% 1em 0;
    height: 100%;
    position: relative;
    min-height: 556px;
}
.prdct-hd {
    font-size: 2.7rem;
    line-height: 0.9;
    font-weight: 800;
    padding: 0 36px 36px 0;
    margin-top: -18px;
}
.prdct-hd span {
    color: #777;
}
.pnl-product.buyPrdct {
    background-image: url(../img/mostPop.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.mb-5 {
	margin-bottom: 60px !important;
}
.prdct-bdy {
    margin: 70px 26px 14px !important;
}
.prdct-bdy.pnlCost {
    border-left: 1px solid red;
    padding-left: 30px;
    background-image: url(../img/arrow-rht.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -30px;
}
.img-prdct {
    min-width: 429px;
    width: 100%;
    margin: -36px 2% 4px -12%;
    overflow: visible;
}
p.prdct-bonus {
    font-size: 1.7rem;
    font-weight: 700;
    color: #444;
    line-height: 1.1;
}
.cstSub {
    line-height: 1;
    margin: 4px 0 8px;
}
.cstSub span, .mnCstSub {
    font-weight: 800;
    text-decoration: line-through;
}
.hdrCost {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1;
    padding-top: 10px;
}
.hdrCost span {
    color: red;
    background-image: url(../img/splash.png);
    padding: 0 16px;
    background-size: 159px;
    background-position: center;
    background-repeat: no-repeat;
}
.hdrCstSub {
    font-size: 1.7rem;
    background-image: inherit !important;
    color: #555 !important;
}
.prdctPrice {
    font-size: 4em;
    letter-spacing: -1px;
    font-weight: 800;
    margin: -12px 0 10px;
    color: #696969;
}
sup.perB {
    font-size: 1rem;
    line-height: 1;
    font-weight: 300;
    max-width: 40px !important;
    display: inline-block;
    margin-left: 8px;
    text-align: left;
    letter-spacing: 1px !important;
    top: 1.4em;
    position: relative;
}
a.buy-btn {
    background-color: #ff4242;
    margin: 18px 0 0px;
    padding: 10px 0px 8px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    max-width: 234px;
    width: 100%;
    text-transform: uppercase;
    border: 2px solid #ffa700;
    box-shadow: 0px 3px 6px #888;
}
.buy-btn:hover {
    background-color: #ae0d0d;
    color: #fff;
    text-decoration: none;
}
.fnt-size {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.prdct-price-ft {
    padding: 11px 0;
    background-color: #e2e1e1;
    width: 100%;
    margin: 0px;
    display: block;
    clear: both;
    border-radius: 0 0 15px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.prdct-buyOne {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    color: red !important;
}
.pnl-product p:last-child {
    margin-bottom: 0px;
}
.prdct-youPay {
font-size: 1.2em !important;
color: #444 !important;
line-height: 0.8 !important;
padding: 4px 0;
}
/* .row .col-md-4:first-child div.prdctPrice {
	 margin-top: 10px;
} */

/* === Testimonials === */
.testimonials {
    background-color: #d2e4f4;
    padding: 40px;
    border-radius: 18px;
    display: flex;
    margin: 20px;
}
#mg-testimonials h2 {
    text-align: center;
    padding: 40px 0 0 !important;
    line-height: 0.9 !important;
}
#tstmnl {
	width: 100%;
}
.tstmnl.tstmnl-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.tstmnl-cntnt {
    background-color: #eff4f9;
    padding: 2.3em 3rem 4.5rem;
    border-radius: 15px;
    display: flex;
}
.tstmnlcontent {
    padding: 26px 10% 30px;
    position: relative;
    box-shadow: 2px 2px 5px #95a7ca;
    border-radius: 14px;
    margin: 8px;
    background-color: #fff;
    background-image: url(../img/tst-quote.png);
    background-repeat: no-repeat;
    background-position: -2px 24px;
}
.tstHd {
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;
    padding: 12px 0;
    color: #072f7a;
}
.tstFace {
    float: left;
    max-width: 85px;
    margin: 0px 12px 0 -11px;
    border-radius: 50%;
}
.tstmnlcontent p {
    font-size: 1.15rem;
    line-height: 1.2;
    color: #666;
    font-weight: 300;
    font-style: italic;
}
p.tstName {
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 800;
    color: #1a4e90;
    font-style: initial;
}
.tstName span {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 12px;
}

/* == Product bundle == */
#bundle {
    text-align: center;
}
.bundleDscrptn {
    padding: 36px;
    border-top: 1px solid red;
    width: 75%;
    margin: -22px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.bndle-item {
    /* display: flex; */
    flex-basis: 46%;
    margin: 9px 2%;
    font-size: 1.7rem;
    text-align: left;
    line-height: 1;
    font-weight: 800;
}
.bndleDing {
    padding-right: 5px;
    margin: -4px 0 16px;
    height: 90px;
    float: left;
}
.bdnlePrice {
    font-size: 1.2rem;
    display: block;
    padding-left: 75px;
    line-height: 1.4;
    color:#777;
    font-weight: 500;
}
.bdnlePrice span {
    color: red;
    font-weight: 800;
}
.btn.btn-primary {
    display: flex;
    width: 100%;
    background-color: #90afcc;
    border: 0;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px 24px;
    margin: 7px 0;
    cursor: pointer;
}

/* == Product Pricing == */
.pricingMain {
    padding: 46px 0 24px;
    border: 1px solid #ccc;
    margin: 0px 12% 0;
    border-radius: 20px;
}
.pricingMain h4 {
    font-size: 2rem;
    line-height: 0.9;
    padding-bottom: 10px;
}
.pricingMain h4 span {
    font-size: 1.3rem;
    font-weight:800;
    color: #777;
}
.pricingMain h3 {
    font-size: 3rem;
    line-height: 1;
    margin: -6px 0 24px;
    font-weight: 800;
}
.pricingMain h3 span {
color: red;
background-image: url(../img/splash2.png);
padding: 0 16px;
background-size: 159px;
background-position: center;
background-repeat: no-repeat;
}
.btn-prchse {
    margin: 0px auto 22px;
}
.btn-prchse a {
    font-size: 2.6rem;
    background-color: red;
    color: #fff;
    padding: 10px 60px;
    border-radius: 12px;
    border: 4px solid #ff7000;
    box-shadow: 0px 4px 6px #888;
    text-transform: uppercase;
}
.btn-prchse a:hover {
    background-color: brown;
    text-decoration: none;
    color: #fff;
}
.ccimages {
    padding: 10px 0 0;
}
.ccards {
    width: 100%;
    max-width: 300px;
}

/* == FAQs == */
#frequent {
    background-color: #d2e4f4;
    padding: 40px 3% 60px;
    font-family: Nunito, sans-serif;
}

#faq1, #faq2, #faq3, #faq4 {
    font-size: 1.2rem;
    line-height: 1.1;
    margin: -8px 0px 16px;
    color: #444;
    border: 1px solid #77a0c4;
    padding: 14px 25px 16px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #e6f2fc;
}
.collapsible {
    background-color: #78a1b9;
    color: white;
    cursor: pointer;
    padding: 8px 56px 8px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3rem;
    font-family: Nunito, sans-serif;
    margin: 2px;
    letter-spacing: 1px;
    border-radius: 4px 4px 0 0;
}

.active, .collapsible:hover {
  background-color: rgb(64, 127, 163);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #00ffab;
}

.content {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
    font-size: 1.2rem;
    line-height: 1.1;
    margin: -3px -2px 6px 2px;
    color: #444;
    border: 1px solid #77a0c4;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #e6f2fc;
}
.content p {
    padding: 12px 6% 10px 3%;
    color: #666;
}


/*==== header bottom content ====*/
#header-bottom {
	width:100%;
	min-height:10px;
    padding-top: 5em;
}
.product-content {
	width:100%;
	padding: 4em 0 2.5em 0;
	display: flex;
	flex-wrap: wrap;
}
.col {
	flex: 1;
	padding: 8px;
	padding-left: 10px
}
.productimg-content {
	width: 100%;
	padding-top: 5px;
}
.img {
	margin: auto;
	width:90%;
	position: relative;
}
.img1 {
	width: 100%;
	display: block;
	margin: auto;
}
.img3 {
	width:100%;
	margin:auto;
	display: block;
}
.img2 {
	width:100%;
	margin:auto;
	display: block;
}
.para1 {
	color: rgb(105,104,104);
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}
.para2 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
}
.price {
	text-align: center;
}
.price>span:nth-child(1) {
	font-size: 4.5em;
	font-weight: bold;
	min-height:50px;
	display: inline-block;
}
.price>span:nth-child(2) {
	font-size: 22px;
	word-break: break-all;
	text-transform: capitalize;
	display: inline-block;
	text-align: left;
	font-weight: bold;
}
.limited-time {
	background-color: rgb(255,245,102);
	padding: 8px;
	width: 100%;
	max-width: 241px;
	margin:auto;
	text-transform: uppercase;
	text-align: center;
	margin-top: 8px;
	line-height: 1.5;
}
.limited-time span {
	display: block;
}
.limited-time>span:nth-child(1) {
	color: red;
	font-weight: bold;
}
.limited-time>span:nth-child(2) {
	font-weight: bold;
	font-size: 25px;
}
.limited-time>span:nth-child(3) {
	font-size: 14px;
}
.btn-red {
	background-color: rgb(255,51,51);
	border: none;
	width: 100%;
	max-width: 241px;
	margin: 8px auto;
	display: block;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.6em;
	white-space: pre-wrap;
}
.multiple {
	border: 2px solid rgba(255,0,0);
	border-radius: 100%;
	width:100%;
	max-width: 70px;
	text-align: center;
	padding:10px;
	font-size: 2.2em;
	color: rgba(255,0,0);
	font-weight: bold;
	position: absolute;
	right: 6%;
	bottom: 11%;
	text-shadow: 3px 2px 0px #000;
}
.deal-offer {
	position: absolute;
	right:10%;
	text-transform: uppercase;
	font-size: 1.3em;	

	text-align: center;
	transform: rotate(20deg);
	font-weight: bold;	

}

.color-blue {
	color: rgb(51,102,153);
	top: -16%;
}

.color-red {
	color: rgb(255,0,0);
	top: -13%;
	right: 5%;
}

/*==== FAQ Section ====*/

.faq-leaf {
	background-image: url('../img/faq-leaf.png');
	background-repeat: no-repeat;
	min-height:375px;
	position: absolute;
	width: 100%;
	max-width: 255px;
	display: block;
	top:10%;
	left: -7%;
}

.faq-content {
	background-color: rgba(134,190,249,0.5);
	padding: 2.3em;
	border-radius: 15px
}

.faq-content1 {
  background-color: #eff4f9;
  padding: 2.3em 3rem 4.5rem;
  border-radius: 15px
}

.faq-content h1 {
	font-size: 1.8em;
	text-transform: capitalize;
}

.faq-content1 h1 {
font-size: 2.1em;
text-transform: none !important;
color: #202857 !important;
font-weight: 200;
}

.fcontent h3 {
	padding-top: 15px;
	font-size: 1.4em;
}

.fcontent {
	padding-left: 20px;
}

.fcontent p {
font-size: 1.1rem;
line-height: 1.2;
color: #353e62;
}

.indexfaq h3 {
background-color: transparent !important;
padding: 18px 0 4px;
font-size: 1.2rem;
font-weight: 600;
color: #202857 !important;;
}

/*==== testimonial ====*/

#testimonial-main {
	width: 100%;
	min-height: 100px;
}

.testimonial1 {
    background-color: rgba(134,190,249,0.3);
}

.testimonial1 .testimonial-content p {
    font-size: 1.2em;
}

.testimonial1 .testimonial p:nth-child(1) {
    font-size: 1.5em;
}

.testimonial1 .testimonial-content h1 {
    font-weight: 600;
}

.testimonial {
	padding: 10px;
}

.testimonial p:nth-child(1) {
	color: rgb(51,102,204);
	font-size: 1.7em;
	font-weight: bold;
	padding-top: 1em;
}

.testicontent {
	display: flex;
	flex-wrap: wrap;
}

.testicontent .testimonial-content {
	flex: 70%;
}

.testicontent .testimonial-pic {
	flex: 20%;
}

.testimonial-content h1 {
	color: rgb(51,102,204);
	font-size: 2.5em;
	font-weight: 400;
}

.testimonial-content p {
	font-size: 1.5em;
	line-height: 1.2em;
	padding: 10px 8px 10px 0;
}

.img-round {
	border-radius: 100%;
}

/*==== order button ====*/
.order-now {
	padding:15px 0;
}
.order-btn {
	width:25%;
}
.order-content {
padding: 20px 3em;
margin: 10px 0 40px;
border: 1px solid rgb(255,0,0);
text-align: center;
font-size: 1rem;
color: #666;
font-weight: 200;
}

.order-content span {
	font-size: 15px;
}

/* == Accordon == */

.collapsing {
  height: 0;
  overflow: hidden;
  /* @include transition($transition-collapse); */
}
.collapse:not(.show) {
    display: none;
}

/*==== footer ====*/

#footer {
	width: 100%;
	min-height: 100px;
}

.footer-content {
    width: 90%;
    margin:0 5%;
    padding: 20px 0;
    font-size: 0.9rem;
    line-height: 1;
    color: #666;
    text-align: center;
}

.footer-logo {
	/* width: 30%; */
	margin: auto;
}

.footer-logo img {
	display: block;
	margin: auto;
    max-width: 300px;
}

.footer-links {
	text-align: center;
    margin-top: 13px !important;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.footer-links .flinks {
	list-style: none;
    text-transform: capitalize;
    display: flex;
    margin: auto;
	width: 100%;
    justify-content: center;
}

.flinks a {
	color: rgb(0,102,204);
    position: relative;
    padding: 0px 5px 10px;
}

.flinks li {
	padding: 0px 17px;
	text-align: center;
}

.footer-mails {
	width:100%;
	margin:auto;
	line-height: 2em;
	text-align: center;
}

.footer-mails a {
	color: #0068d0;
	font-weight: bold;
}
.footer-mails p:nth-child(2) {
	text-transform: capitalize;
}


/* MODAL refinements */
.modal-dialog {
    max-width: 690px !important;
    margin: 3rem auto !important;
}
.modal-content {
    padding: 22px 36px 22px;
    outline: 0;
    width: 94%;
    margin: 0 3%;
    border: 10px solid #fff !important;
    border-radius: 0 !important;
    box-shadow: 0 9px 16px #000;
    background-image: url(../img/mdl-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenthdr h4 {
    color: #fff;
    font-size: 1.2rem;
    padding: 19px 0 30px 170px;
    text-align: center;
}
.mdlBold {
    font-size: 1.4rem;
    text-align: center;
    margin: 0px 0 22px;
    font-weight: 800 !important;
    color: #fff;
}
.mdlBold span {
    color: yellow;
}
.mdl-mllns {
    float: right;
    margin-left: -300px;
    max-width: 318px;
    margin-bottom: -60px;
}
.mdltxt {
    font-size: 1.35rem;
    text-align: left;
    line-height: 1;
    background-color: #ffffffb5;
    width: 60%;
    padding: 16px 22px;
    border-radius: 6px;
    box-shadow: 0 3px 9px #000;
}
.close {
    font-size: 2.4rem;
    background: none;
    border: none;
    color: #fff;
    float: right;
    margin-right: -20px;
}
.modal-content h3 {
    color: red;
    text-transform: uppercase;
    font-size: 2.8rem;
}
.mdlMain {
    text-align: left;
    margin-top: 14px;
}
.mdlHd {
    font-style: normal;
    text-transform: uppercase;
    margin-top: -14px;
    margin-bottom: 1px;
}
.mdlMain hr {
    margin: 18px 0 0;
}
.mdl-yes {
    margin:36px 0 12px 0;
}
.modallink {
    text-align: center;
    margin: 30px 0 12px;
}
.mdl-READ a {
    background-color: #2ab1db;
    display: block;
    color: #fff;
    margin: 9px 4%;
    padding: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
}
.mdl-READ a:hover {
    background-color: #0a8db4;
    text-decoration: none;
}
.mdl-VIDEO a {
    background-color: #eeccb8;
    display: block;
    color: #a70d0d !important;
    margin: 9px 4%;
    padding: 9px;
    font-weight: 800 !important;
    letter-spacing: 1px;
    line-height: 1.1;
}
.mdl-VIDEO a:hover {
    background-color: #b94400;
    color: #fff !important;
    text-decoration: none;
}

a.btn-mdl.btn-explain,
a.btn-mdl.btn-rdMore {
    font-size: 1rem;
    text-decoration: none;
    color: #eb6515;
    font-weight: 800;
}
.btn-mdl.btn-rdMore {
    border: 1px solid;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: #fff279;
}
a.btn-claim {
    border: 3px solid #ffab40;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: #ff2020;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1rem;
}
.btn-claim:hover {
    background-color: #ff6508;
}

a.btn-mdl.btn-explain:hover,
a.btn-mdl.btn-rdMore:hover {
    color: #444;
}



/*------------------------------------------
VIDEO CSS
--------------------------------------------*/

.videoyt{
	width: 100%;
	max-width: 900px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.videoyt iframe{
	width: 100%;
	height: 100%;
}

.top-overlay{
	width: 100%;
	top: 0;
	position: absolute;
	height: 12%;
}

.bottom-overlay{
	width: 100%;
	bottom: 0;
	position: absolute;
	height: 40%;
}

/*=======product css=========*/

.site-section {
  padding:0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-4 {
    flex: 33.333333%;
    max-width: 33.333333%;
}

/* == MEDIA QUERIES == */
@media (max-width: 768px) {
  	.prdSingle {
   		max-width: 262px !important;
  	}
  	.col-md-4 {
  		position: relative;
    	flex: 100%;
    	max-width: 100%;
  	}
    .txtBlok h1 {
    font-size: 3.1rem;
    line-height: 0.95;
    }
  	.row .col-md-4:first-child div.prdctPrice {
    	margin-top: -12px !important;
	}
    .product-row {
    margin: 20px 4%;
    display: block;
    }
    .col-md-6.plr-1 {width:100%; max-width:100%}
    .col-md-6.plr-2 {width:100%; max-width:100%}

	.img-prdct {
    min-width: 366px;
    width: 100%;
    margin-left: -7%;
    overflow: visible;
	}

    .prdct-bdy.pnlCost {
    border-left: 0 ;
    padding-left: 0px;
    background-image: none;
    }
	.time-offer1 {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .product-row .col-md-4
    {
    	padding-bottom: 2.8em;
    }
    .pnl-product { min-height: 102px !important; }

    .prdct-hd { padding: 0 0 36px 0;margin: 0; }

    #testimonial-main {
    width: 86%;
    margin: 0 auto;
    }
    .testimonials {
    padding: 16px;
    display: block;
    }
    .prdctbundle {
    max-width: 366px;
    }
    .bndle-item {
    display: block;
    flex-basis: auto;
    margin: 4px -40px 0 -25%;
    }
    .btn-prchse a {
    font-size: 1.1rem;
    background-color: red;
    color: #fff;
    padding: 10px 37px;
    border-radius: 12px;
    border: 4px solid #ff7000;
    box-shadow: 0px 4px 6px #888;
    text-transform: uppercase;
    margin: -12px 0 9px;
    display: inline-block;
    }
    .footer-links .flinks {
    margin: 0 0 12px -20px;
    display: block;
    }
    .header-pic { display: none; }
    .headerpic {
    background-image: url("../img/mble-splash.jpg");
    background-size: cover;
    height: 690px;
    margin-top: -30px;
    }

    .contenthdr h4 {
    color: #fff;
    font-size: 0.9rem;
    padding: 100px 0 0px 0px;
    text-align: center;
    }
    .mdltxt {
    width: 100%;
    }

}
@media (max-width: 560px) {
  .site-section
  {
    padding: 10px;
  }
   #cta-foot {
      font-size: 22px !important;
  }
}
@media (max-width: 420px) {
	.row .col-md-4:first-child div.prdctPrice {
	    margin-top: 0px !important;
	}
}
@media (max-width: 320px) {
	.pnl-product p {
    	font-size: 14px !important;
	}
	.pnl-product p.prdct-youPay
	{
		font-size: 22px !important;
	}
}
@media (max-width: 970px) {
  #cta-foot
  {
    font-size: 27px;
  }
}
@media (max-width: 910px) {
  a.buy-btn
  {
    font-size: 18px;
  }
}
@media (max-width: 855px) {
  a.buy-btn
  {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
	.prdSingle {
    max-width: 300px !important;
  }

}

@media (max-width: 895px) {
  a.buy-btn

  {
    font-size: 17px;
  }

  .prdctPrice

  {
    font-size: 3em;
  }

  .prdct-bdy {
    margin: 50px 0px 0px !important;
    }

}

@media (max-width: 830px) {
  #cta-foot

  {
    font-size: 25px;
  }

  .prdctPrice

  {
    font-size: 2.8em;
  }

}

@media (max-width: 815px) {
  a.buy-btn { font-size: 15px; }

}

@media (max-width: 790px) {


@media (max-width: 1000px) {
  /* .pnl-product p { font-size: 15px; } */

}
@media (max-width: 1024px) {
	.pnl-product { min-height: 482px; }
}
@media (max-width: 1170px) { #cta-foot { margin-top: 0 !important;}

}
@media (max-width: 375px) {
	.pnl-product {
	    min-height: 470px !important;
	}
}
@media (max-width: 320px) {
	.pnl-product {
	    min-height: 400px !important;
	}
}